/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #500000;
    /* TAMU Maroon */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.navbar-links {
    display: contents;
    gap: 30px;
}

.navbar a:hover {
    background-color: #3d0000;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #2a0000;
    border-radius: 5px;
}

.navbar img.logo {
    height: 50px;
    width: 100px;
    object-fit: contain;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #500000;
    /* TAMU Maroon */
}

.content {
    padding: 40px;
    text-align: center;
}